body {
    background: #1f202b;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

/****GRID****/
.full-width {
    margin: auto;
    overflow: auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 598px;
}

.third-width {
    float: left;
    width: 400px;
}

/*****HEADER*****/
header {
    height: 800px;
}

header p {
    font-size: 30px;
    line-height: 30px;
    margin: 28px 0;
}

nav {
    margin: 28px 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    line-height: 30px;
}

nav ul li a {
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    padding-left: 45px;
    text-decoration: none;
}

.header-img {
    background: url("../img/hero-background.png");
    background-size: cover;
    height: 750px;
}

header h1 {
    clear: both;
    font-family: 'Source Code Pro', monospace;
    font-size: 72px;
    margin: 0;
    padding: 300px 0px 273px 100px;
}

header h1 span {
    color: #ff8501;
}

/*****PORTFOLIO*****/
#portfolio {
    height: 1550px;
    margin: 40px 0 0 0;
    overflow: auto;
}

#portfolio h2 {
    clear: both;
    color: #ff8501;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.left {
    box-sizing: border-box;
    height: 450px;
    margin: 0 auto;
    padding-left: 29px;
    padding-right: 49px;
}

.right {
    box-sizing: border-box;
    height: 450px;
    margin: 0 auto;
    padding-left: 50px;
}

#portfolio p {
    font-size: 24px;
    margin: 0 auto 8px auto;
}

.portfolio-img {
    border: 1px solid #b7b7b7;
}

/*****ABOUT*****/
#about {
    clear: both;
    height: 550px;
}

#about h2 {
    clear: both;
    color: #fa0075;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    text-align: center;
}

#about .about-img {
    background: url("../img/about-me.png");
    background-size: cover;
    height: 550px;
}

#about p {
    color: #1f202b;
    font-size: 20px;
    line-height: 27px;
    padding: 0px 5px;
}

/*****CONTACT*****/
#contact {
    height: 400px;
}

#contact h2 {
    clear: both;
    color: #ff8501;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
}

#contact p {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 5px;
    text-align: center;
}

#contact .follow-icons {
    box-sizing: border-box;
    margin: 0 10px 0 65px;
    width: 275px;
}

#contact img {
    margin: 0 13px;
    padding: 5px;
}

/*****FOOTER*****/
footer {
    clear: both;
}

footer p {
    font-size: 18px;
    text-align: center;
}
